<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://niutimecard.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>niutimecard.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>niutimecard</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$niutimecard</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:pk.database.windows.net,1433;AttachDbFilename=C:\Users\PK\Downloads\TimeCard.net-master\TimeCard.net-master\TimeCard\App_Data\aspnet-TimeCard-20150224090621.mdf;Initial Catalog=TimeCard;User ID=pknew;Password=P@ssw0rd" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TimeCard.Models.ApplicationDbContext, TimeCard" MigrationConfiguration="TimeCard.Migrations.Configuration, TimeCard" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pk.database.windows.net,1433;AttachDbFilename=C:\Users\PK\Downloads\TimeCard.net-master\TimeCard.net-master\TimeCard\App_Data\aspnet-TimeCard-20150224090621.mdf;Initial Catalog=TimeCard;User ID=pknew;Password=P@ssw0rd</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>